* {
  background-color: black;
}
div {
  width: 50%;
  margin-left: 25%;
  margin-top: 80px;
}
img {
  width: 100%;
  border: 5px solid white;
}
h1 {
  font-family: "Libre Baskerville";
  color: white;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: "Libre Baskerville";
  font-size: small;
  color: white;
  text-align: center;
}
